* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
   width:fit-content; 
}

h1 {
    background-color: skyblue;
    font-size:50px;
    color:rgb(24, 49, 49);
    width:fit-content;
    padding:10px;
    position:relative;
    top:30px;
}

h2 {
    font-size: 40px;
    
}

header {
    background-color: rgb(24, 49, 49)
}

.menu {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    position:relative;
    top:-60px;
}

ul a {
    text-decoration:underline;
    margin:0px 30px 0px 0px;
    list-style: none;
    font-size:25px;
    color:skyblue;
}
/* Background image code obtained from the internet on magicpattern.design*/
.cool-stuff {
    margin-bottom: 40px;
    opacity: 0.3;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #7bcac855, #7bcac8 );
    opacity:1;
    height:150px;
}  
#mypix {
    position:relative;
    left:300px;
    bottom:80px;
    opacity:1;
    object-fit: cover;
    height:inherit;
}
/* This applies below 992px */
/* Used the "Mobile-first" basis with a starting screen size of 768px*/

@media screen and (min-width: 768px) {
    .about-me h2 {
        margin:30px;
    }
    p {
        margin:30px;
        padding:10px;
        border-radius: 10px;
        text-align: justify;
        background-color: skyblue;
    }
    .my-work h2 {
        margin:30px;
    }
    .images {
        border:none;
    }
}
@media screen and (min-width: 992px) {

.about-me {
    display:flex;
    align-items:flex-start;
    padding:10px;
}

p {
    font-size:20px;
    padding:30px;
    margin-top:0px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(24, 49, 49);
    border-radius: 0px;
    text-align:justify; 
    background-color: white;
    }

    .about-me h2 {
    margin-right:20px;  
    }


    .my-work {
    display:flex;
    align-items:flex-start;
    }

    .images {
    position:relative;
    left:45px;
    border-left-style:solid;
    border-left-width:5px;
    border-left-color:rgb(24, 49, 49);
    }
}

.first-project-image {
    margin:20px;
    height:500px;
    width:1000px;
    border:5px solid skyblue;
    opacity:0.5;
    
}

.other-projects {
    display:inline-block;
    width:100%;
    
}

.image-container {
    display:inline-block;
    
}

.other-projects-image{
    margin:20px;
    height:300px;
    width:472px;
    border: 5px solid skyblue;
    opacity:0.5;
}

.contact {
    display:flex;
    align-items:center;
}
.contact-details {
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}
    
.contact h2 {
    padding:30px;
}
.images p {
    position:relative;
    left:50px;
    bottom:100px;
    margin:0px;
    padding:0px;
    background-color: skyblue;
    font-size:30px;
    width:fit-content
}
.first-project-image:hover {
    opacity:1;
    transition:all 0.5s ease-in-out;
}
.other-projects-image:hover {
    opacity:1;
    transition:all 0.5s ease-in-out;
}
